{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0" :scope :provided}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {io.github.metabase/hawk {:mvn/version "1.0.7"}}
   :exec-fn     mb.hawk.core/find-and-run-tests-cli}}}
